.ul-nav-bar {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: clamp(1em, 2vw, 3em);
  li {
    transition: all 0.4s ease;
  }

  li:hover,
  li:active {
    scale: 1.1;
    a {
      color: var(--neutral-green);
    }
  }
}
