.page {
  width: 80%;
  margin: 10% auto;
  display: grid;
  gap: 10px;
}

header {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  background-color: var(--neutral-white);
  background-image: url("./assets/image/banner-rick-and-morty.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  width: 98%;
  height: auto;
  background-color: var(--neutral-off-black);
  border-radius: 20px;
  margin-inline: auto;
  height: 20%;
}

main {
  border-radius: 20px;
  background-color: var(--primary-color);
}

footer {
  height: auto;
  width: 100%;
  border-radius: 20px;
  background-color: var(--neutral-dark-grey);
  padding: 2%;
  display: grid;
  gap: 2%;
}

.character-list {
  border-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.button-container {
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 0;
  margin-inline: auto;
  background-color: var(--neutral-off-black);
  padding: 10px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
