.page {
  width: 80%;
  margin: 10% auto;
  display: grid;
  gap: 10px;
}

footer {
  height: auto;
  width: 100%;
  border-radius: 20px;
  background-color: var(--neutral-dark-grey);
  padding: 2%;
  display: grid;
  gap: 2%;
}

.character-list {
  border-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.button-container {
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  background-color: var(--neutral-off-black);
  padding: 10px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.characters {
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 2%;
}

main {
  gap: 1%;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1fr 1fr auto repeat(4, 1fr);
  grid-template-areas:
    "header"
    "header"
    "nav"
    "body"
    "body"
    "body"
    "body";
}

header {
  grid-area: header;
  border-radius: 20px;
  background-image: url(./assets/image/lentes.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-content: center;
  font-size: clamp(3em, 7vw, 8em);
  font-weight: bold;
  h1,
  h2 {
    color: black;
  }
}

@media (max-width: 767px) {
  header {
    max-height: 300px;
    padding: 2%;
    background-size: cover;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto auto repeat(4, 1fr);
    grid-template-areas:
      "header"
      "nav"
      "body"
      "body"
      "body"
      "body";
  }
}

nav {
  grid-area: nav;
  height: auto;
  padding: 1%;
}
