@font-face {
  font-family: "Get Schwifty";
  src: url("./assets/fonts/get_schwifty.ttf");
}

@font-face {
  font-family: "Lilita One";
  src: url("./assets/fonts/LilitaOne-Regular.ttf");
}
:root {
  --primary-color: rgb(136, 226, 59);
  --neutral-green: hsl(75, 94%, 57%);
  --neutral-grey: hsl(0, 0%, 20%);
  --neutral-dark-grey: hsl(0, 0%, 12%);
  --neutral-off-black: hsl(0, 0%, 8%);
  --neutral-white: hsl(0, 0%, 100%);
  --lilita-font: "Lilita One", sans-serif;
}

hmtl {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
}

body {
  min-height: 100dvh;
  font-family: var(--lilita-font);
  text-transform: capitalize;
  background-color: var(--neutral-off-black);
  font-weight: normal;
}

li {
  font-family: var(--lilita-font);
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--neutral-white);
}

h1,
h2,
h3 {
  text-wrap: balance;
  width: fit-content;
  color: var(--primary-color);
  font-family: "Get Schwifty", sans-serif;
}

p {
  text-wrap: pretty;
  color: var(--neutral-white);
}
