@font-face {
  font-family: "Get Schwifty";
  src: url("./assets/fonts/get_schwifty.ttf");
}
:root {
  ---primary-color: rgb(136, 226, 59);
  --neutral-grey: hsl(0, 0%, 20%);
  --neutral-dark-grey: hsl(0, 0%, 12%);
  --neutral-off-black: hsl(0, 0%, 8%);
  --neutral-white: hsl(0, 0%, 100%);
}
h2 {
  width: fit-content;
  color: var(---primary-color);
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Get Schwifty", sans-serif;
  text-transform: capitalize;
  background-color: var(--neutral-off-black);
}
